.menu {
    width: 100%;
    height: 70px;
    background-color: #1F568B;
} 
.footer {
	height: 200px;
	width: auto;
	background-color: #ccc;
}
.center {
	margin-left: 100px;
	margin-right: 100px;
	height: 600px;
	width: auto;
	background-color: #0ff;
	margin-top: 10px;
}