 body {
 	font-family: sans-serif;
 	color: #333;
 }

.menu {
    width: 100%;
    height: 70px;
    background-color: #1F568B;
    
    
}
.center1 {
	height: 500px;
	width: 100%;
	background-color: #ffffff;
}
.center2 {
	height: 1600px;
	width: 100%;
    background-color: ;
}
.center2 .ngancach1{
	height: 30px;
	width: 100%;
	background-color: white;
}
.center2 .ngancach2{
	height: 30px;
	width: 100%;
	background-color: white;
}
.center2 .ngancach3{
	height: 30px;
	width: 100%;
	background-color: white;
}

.center2 .center2-1 {
	height: 450px;
	width: 100%;
}
.center2 .centrer2-2 {
	height: 450px;
	width: 100%;
}
.footer {
	height: 200px;
	width: auto;
	background-color: #ccc;
}
.menu ul{
	list-style-type: none;
	text-align: center;
	padding-top: 20px;
}
.menu li{
	position: relative;
}
.menu ul li{
  color: #f1f1f1;
  display: inline-table;
  width: 120px;
  height: 40px;
  line-height: 40px;
  position: relative;
}
.menu ul li a{
  text-decoration: none;
  color: #FF00FF;
 
}
.menu ul li a:hover {
  background: #ADFF2F;
  color: #F08080;
}
.sub-menu {
	display: none;
	position: absolute;
}
.sub-menu ul li{
	display: none;
	position: absolute;
}
.menu ul li > .sub-menu{
	display: none;
	position: absolute;
}
.menu ul li:hover .sub-menu{
	display: block;
}
.footer .fa{
	color: #881d1a;
}
.footer li{
  position: relative;
}
.col-sm-4:hover .img-thumbnail{
  opacity: 0.3;
}
.img-thumbnail{
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}