* {
	box-sizing: border-box;
}
 div {
 	display: block ;
 }
 img {
 	max-width: 100%;
 	height: auto;
 }
 nav.nav.navbar-default{
 	height: 70px;
 	width: 100%;
 }
 #menu {
 	position: relative;
	background-color:#000000;
	height: 70px;
	width: 100%;
}
 #center {
   background-color:#0FF;
   height: 1000px;
   width:  100%;
}
 #footer {
	background-color:#CCC;
	height:300px;
	width:100%;
	}
 .main-logo .header-main-logo img { 
 	max-height: 100px;
 	margin-top: 4px;
    margin-left: 0%;
 }
 .main-logo .header-main-logo img {
 	padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
 }
img {
	vertical-align: middle;
}
img {
	border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: initial;
    border-bottom-style: initial;
    border-bottom-width: 0px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}
.nav-menu {
    display: none;
}
.nav-menu {
    padding-left: 0;
    float: left;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
}
.nav-menu li a {
    padding: 30px 15px;
    font-family: "globerbold", sans-serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    background-color: transparent !important;
    transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;

}
a.navbar-brand img{
	width: 130px;
	height: 50px;
}
